/*  ==========================================================

Template name 	: Responsive Creative CV Template
Author  		: balapa
Email   		: balapa95@gmail.com

==============================================================

[Table of contents]

1. 	basic setting
2.	#main-container
3.	#profile
4.	#features
5.	#resume
6.	#blog
7.	#portfolio
8.	#activity
9.	custom
10.	responsive

==========================================================	*/

/*  ----------------------------------------------------------
[1. Basic Setting]
----------------------------------------------------------  */

* {
	margin: 0;
	padding: 0;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: hidden;
}

.slide-left {
	transform: translate3d(-100%, 0, 0);
	will-change: transform;
}

.slide-right {
	transform: translate3d(100%, 0, 0);
	will-change: transform;
}

/*  ----------------------------------------------------------
[2. #main-container]
----------------------------------------------------------  */

#main-container {
	width: 100%;
	height: 100%;
}

#main-container > div {
	transition: .3s all ease;
	overflow-y: auto; 
}

/*  ----------------------------------------------------------
[3. #profile]
----------------------------------------------------------  */

#profile {
	width: 25%;
	background: white;
	border-right: 1px solid #ccc;
	position: relative;
}

#profile .expand {
	display: none;		
}

#profile .summary {
	padding: 30px 0;
	border-bottom: 1px solid #ddd;
}

#profile .big-image {
	width: 80px;
	border-radius: 50%;
	display: block;
	margin: 0 auto 15px;
}

#profile .small-image {
	width: 40px;
	border-radius: 50%;
}

.logo {
	width: 100px;
	display: block;
	margin: 0 auto 10px;
	opacity: .85;
}

.morphext > span {
	display: none;
}

.morphext > .animated {
    display: inline-block;
}

.hi {
	padding: 30px 28px;
	border-bottom: 1px solid #ddd;
	font-family: 'Droid Serif', serif;
	color: #3A4145;
	font-size: 1.6rem;
	line-height: 1.5em;
}

.hi .dropcap {
	font-size: 5.2rem;
	float: left;
	line-height: 4.8rem;
	padding-right: 7px;
}

.button {
	margin: 30px;
	text-align: center;
}

#recent-work {
	padding: 15px 25px;
	display: inline-block;
	color: #bbb;
	font-family: 'Montserrat', serif;
	transition: .2s all ease;
}

.download {
	padding: 15px 25px;
	display: inline-block;
	color: #bbb;
	font-family: 'Montserrat', serif;
	border: 1px solid #bbb;
	transition: .2s all ease;
	border-radius: 3px;
}

.download:hover {
	text-decoration: none;
	color: white;
}

.social-container {
	text-align: center;
	width: 100%;
}

.social {
	list-style: none;
	display: inline-block;
}

.social li {
	display: inline-block;
}

.social li a {
	font-size: 22px;
	margin: 0 4px;
}

.social li a:hover {
	text-decoration: none;
}

/*  ----------------------------------------------------------
[4. #features]
----------------------------------------------------------  */

#portfolio.absolute {
	height: 400% !important;
}

#features > div {
	height: 100%;
	transition: .3s all ease;
	overflow-y: hidden;
	overflow-x: hidden;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	width: 25%;
	will-change: width; 
}

#features .expand {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
	overflow-y: hidden;
}

#features .add-expand {
	left: 0;
}

.expand h1 {
	font-family: 'Montserrat', serif;
	text-transform: uppercase;
	color: white;
	margin-top: 50px;
	text-align: center;
	overflow-x: hidden;
}

.expand .detail {
	font-family: 'Droid Serif', serif;
	text-align: center;
	color: white;
	position: relative;
	top: -5px;
	opacity: 0;
	transition: .3s all ease;
	overflow-x: hidden;
}

.expand:hover .detail {
	top: 0;
	opacity: 1;
}

.expand .icon {
	position: absolute;
	bottom: 50px;
	font-size: 50px;
	margin-left: -25px;
	color: rgba(255,255,255,.5);
	transition: .2s color ease;
}

.expand:hover .icon {
	color: rgba(255,255,255,1);
}

.main-content {
	opacity: 0;
	position: relative;
	left: -50px;
	transition: .3s 0s all ease;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.full .main-content {
	opacity: 1;
	left: 0;
	transition: .3s .3s all ease;
}

.title {
	font-family: 'Montserrat', serif;
	position: relative;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.section-paragraph {
     float:left;
     padding: 10px;
 }

.close-icon {
	display: none;
	position: fixed !important;
	cursor: pointer;
	transition: .2s all ease;
	height: 60px;
	width: 60px;
	right: 38px !important;
	top: 30px !important;
	background: url("../img/close.svg") no-repeat rgba(255,255,255,.5);
	opacity: .4;
	z-index: 999;
}

.close-icon:hover {
	opacity: .6;
}

.full .close-icon,
#profile .full-height .close-icon {
	display: block !important;
}

/*  ----------------------------------------------------------
[5. #resume]
----------------------------------------------------------  */

#resume {
	background: rgba(255,255,255,.1);
}

.highlight-reel {
    text-align: center;
}

.highlight-reel-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

#timeline {
	width: 100%;
	position: relative;
	margin-bottom: 40px;
}

#timeline:before {
	content: "";
	height: 100%;
	width: 3px;
	background: #dfdfdf;
	position: absolute;
	left: 23px;
	top: 0;
	bottom: 0;
	z-index: 98;
}

#timeline > div {
	margin-bottom: 35px;
}

#timeline > div:last-child {
	margin-bottom: 0 !important;
}

#resume .col-md-6 > .title {
	margin-bottom: 20px !important;
}

.briefcase {
	font-size: 20px;
	text-align: center;
	width: 50px;
	padding: 15px 0;
	color: white;
	border-radius: 50%;
	z-index: 99;
	position: relative;
	float: left;
}

.job {
	padding-left: 70px;
}

.job-title {
	font-family: 'Montserrat', serif;
	font-size: 18px;
	color: #3A4145;
	text-transform: uppercase;
}

.job-title span {
	font-family: 'Montserrat', Georgia, serif !important;
	font-size: 16px !important;
	text-transform: capitalize !important;
}

.year {
	font-family: 'Montserrat', serif;
	color: #999;
	font-size: 14px;
	margin-top: 5px;
	display: block;
}

.job-detail {
	margin-top: 25px;
	padding: 15px 20px;
	border-radius: 3px;
	background: #eaeaea;
	color: #666;
	font-family: 'Droid Serif', Georgia, serif !important;
	line-height: 1.6em;
	position: relative;
}

.job-detail:before {
	content: "";
	position: absolute;
	top: 0;
	left: 20px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid #eaeaea;
	transform: translateY(-100%);
}

#activity h2 {
	margin-bottom: 20px !important;
}

/*  ----------------------------------------------------------
[6. #otherstuff]
----------------------------------------------------------  */

#otherstuff {
	background: rgba(255,255,255,.3);
}

.otherstuff-row {
	position: relative;
}

.otherstuff-item {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}

/*  ----------------------------------------------------------
[7. #portfolio]
----------------------------------------------------------  */

#portfolio {
	background: rgba(255,255,255,.2);
}

#filter {
	list-style: none;
	text-align: left;
	margin-bottom: 30px;
}

#filter li {
	display: inline-block;
}

.technology-tags {
    float: left;
    padding-bottom: 20px;
}

.technology-tag {
	font-family: 'Montserrat', serif;
	margin-right: 8px;
	font-size: 16px;
	padding: 7.5px 15px;
	color: white;
	background: #0099d5;
	border-radius: 3px;
	transition: .2s all ease;
}

#filter li a {
	font-family: 'Montserrat', serif;
	margin-right: 8px;
	font-size: 16px;
	padding: 7.5px 15px;
	color: #666;
	background: #eaeaea;
	border-radius: 3px;
	transition: .2s all ease;
}

#filter li a:hover {
	text-decoration: none;
}

#filter li a.active {
	color: white;
}

.rating {
	margin-top: 15px;
}

.btn-containr {
	text-align: left;
}

.btn {
	display: inline-block;
	font-size: 16px;
	padding: 15px 25px;
	border-radius: 3px;
	transition: .2s all ease;
	background: #eaeaea;
	border: none;
	color: #666;
	font-family: 'Montserrat', serif;
}

.btn:hover {
	color: white;
}

.btn:focus {
	outline: none;
}


/*  ----------------------------------------------------------
[8. #activity]
----------------------------------------------------------  */

#activity {
	background: rgba(255,255,255,.4);
}

#latest_tweet_outer_div {
    padding: 20px;
    width: 50%;
    float: left;
}

#latest_github_activity_outer_div {
    float: left;
    width: 50%;
    padding: 20px;
}

/*	I put google maps style in the gmap.css */

.list {
	list-style: none;
	padding: 30px 0 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #ddd;
}

.list li {
	display: block;
	font-size: 16px;
	color: #777;
	font-family: 'Droid Serif', serif;
	margin-bottom: 5px;
}

.list .icon {
	width: 30px;
	font-size: 16px;
}

.error {
	border-color: #e74c3c !important;
	background: url("../img/ui/attention.svg") no-repeat;
	background-size: 18px;
	background-position: calc(100% - 15px) 15px;
}

.success {
	top: 0 !important;
	opacity: 1 !important;
}

/*	Twitter */

#twitter {
	background: #eaeaea;
	padding: 15px 20px;
	border-radius: 3px;
}

/*  ----------------------------------------------------------
[9. Custom]
----------------------------------------------------------  */

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: #eee;
}
 
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2); 
}

/*  ----------------------------------------------------------
[10. Responsive]
----------------------------------------------------------  */

/*	Min width : 768px */

@media (min-width: 768px) {

	#main-container > div {
		float: left;
		height: 100%;
	}

	/*.hi {
		min-height: 181px;
	}*/

	#features {
		width: 75%;
		/*	Slideshow backgroud
		background: url("../img/bg.jpg") no-repeat center center !important;
		*/
	}

	#features > div {
		float: left;
		padding: 30px 0px 0px 30px;
	}

	.full {
		width: 100% !important;
		background: white !important;
		cursor: auto !important;
		overflow-y: auto !important;
		will-change: width;
	}

	.zero {
		width: 0% !important;
		padding: 0 !important;
		will-change: width;
	}

	.absolute {
		position: absolute !important;
		width: 75% !important;
	}

	.social-container {
		position: absolute;
		bottom: 30px;
	}

	.icon-left {
		left: 50%;
	}

}

/*	Max width : 768px */

@media (max-width: 767px) {

	#profile {
		width: 100%;
		height: 20%;
	}

	#profile.full-height {
		top: 20%;
        padding-bottom: 30%;
	}

	.main-content-profile {
		opacity: 0;
		position: relative;
		top: -50px;
		transition: .3s 0s all ease;
	}

	.full-height .main-content-profile {
		opacity: 1;
		top: 0;
		transition: .3s .3s all ease;
	}

	#profile .expand {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		display: block;
		cursor: pointer;
		z-index: 99;
	}

	#profile .expand-profile {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		display: block;
		cursor: pointer;
		z-index: 99;
	}

	.profile {
		overflow-y: hidden !important;
	}

	.profile-off {
		opacity: 0;
		pointer-events: none;
	}

	#profile .expand h1,
	#profile .expand .fa {
		color: #666;
	}

	#blog-post,
	#portfolio-case {
		height: 80% !important;
	}

	#features {
		height: 80% !important;
	}

	.full-height {
		height: 100% !important;
		background: white !important;
		cursor: auto !important;
		will-change: height;
	}

	.zero-height {
		height: 0% !important;
		padding: 0 !important;
		will-change: width;
	}

	#features > div {
		width: 100%;
		height: 25%;
	}

	#blog-post,
	#portfolio-case {
		width: 100% !important;
	}

	.expand .detail {
		display: none !important;
	}

	.expand h1 {
		position: absolute;
		text-align: left;
		top: 50%;
		right: 0;
		left: 25px;
		bottom: 0;
		margin-top: -20px !important;
	}

	.expand .icon {
		bottom: 0 !important;
		right: 25px;
		font-size: 40px;
		top: 50%;
		margin-top: -20px;	
		display: inline-block;
	}

	.main-content {
		left: 0 !important;
		top: -50px;
	}

	.full .main-content {
		top: 0;
	}

	.full-blog .main-content,
	.full-portfolio .main-content {
		top: 0;
	}

	.social-container {
		margin-bottom: 30px;
	}

	#features > div {
		padding: 30px;
	}

	.close-icon {
		top: 0 !important;
		background-position: center center !important;
		height: 20% !important;
		right: 0 !important;
		left: 0 !important;
		margin-right: 0;
		border-bottom: 1px solid #999;
		width: 100%;
	}

	#twitter {
		margin-bottom: 30px
	}

    #latest_tweet_outer_div {
        width: 100%;
    }
    #latest_github_activity_outer_div {
        width: 100%;
    }

}

/*	Max width : 480px */

@media (max-width: 480px) {

	#features > div {
		padding: 15px;
	}

	#filter li a {
		padding: 5px 7.5px;
		font-size: 14px;
	}
}
