<!DOCTYPE html>
<html ng-app='app' ng-controller='mainController'>
<head>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="js/github-activity-0.1.1.js"></script>
	<title>Stuff About Alex Long</title>
	<meta charset="utf-8">
    <meta name="description" content="These Are Some Things Alex Long Did">
    <meta name="author" content="balapa">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Files -->
    <link rel="stylesheet" href="css/colors/blue.css">
    <link rel="stylesheet" href="css/preloader.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/carousel/owl.carousel.css">
	<link rel="stylesheet" href="css/carousel/owl.theme.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <link rel="stylesheet" href="css/github-activity-0.1.1.min.css">

	<!-- Google Font link -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- Favicon -->
    <link rel="icon" type="image/png" href="img/alex-favicon.png">	
</head>
<body>

	<!-- begin #main-container -->
	<div id="main-container">
		<!-- begin #profile -->
		<div id="profile" class="profile">
			<div id="top-profile" class="expand add-expand">
				<h1>Profile</h1>
				<img class="small-image icon icon-left fa" src="img/profile/profile-picture.jpg" alt="Mobile Profile Picture">
			</div>
			<div class="main-content-profile">
				<div class="close-icon-container">
					<a href="#top-profile" class="close-icon expand-profile"></a>
				</div>
				<div class="summary">
					<a href="/">
                        <img class="big-image" src="img/profile/profile-picture.jpg" alt="Profile Picture">
					</a>
				</div>
				<p class="hi">
					<span class="dropcap">Hi</span><span class="detail">I'm Alex Long, a code-writing, cyber-security-researching, open-mic-playing freelance software developer based out of Sterling, Virginia.</span>
				</p>
				<div class="button">
                    <div id="recent-work">Recent Work</div>
                    <div>
                        <a href="https://vimeo.com/112881436">
                            <img style="width: 100%; padding-top: 5px" src="img/profile/viz-banner.png" />
                        </a>
                    </div>
                    <div>
                        <a href="https://play.google.com/store/apps/details?id=com.mlapps.airplanemodereminder">
                            <img style="width: 100%; padding-top: 5px" src="img/profile/airplane-mode-reminder-banner.png" />
                        </a>
                    </div>
                    <div>
                        <a href="http://www.utfdgl.com">
                            <img style="width: 100%; padding-top: 5px" src="img/profile/utfdgl-banner.png" />
                        </a>
                    </div>
				</div>
				<div class="social-container">
					<ul class="social">
						<li><a href="https://www.linkedin.com/pub/alex-long/15/9a8/89b" class="fa fa-linkedin"></a></li>
						<li><a href="https://twitter.com/AlexMasonLong" class="fa fa-twitter"></a></li>
						<li><a href="https://github.com/alexmlong" class="fa fa-github"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end #profile -->

		<!-- begin #features -->
		<div id="features">

			<!-- begin #resume -->
			<div id="resume">
                <a href="#resume">
                    <div id="top-resume" class="expand add-expand">
                        <h1>Work</h1>
                        <div class="detail">See What I've Done</div>
                        <div class="icon icon-left fa fa-briefcase"></div>
                    </div>
                </a>
				<div class="main-content">
					<a href="#" class="close-icon expand"></a>
					<h1 class="title">Some Things I've Done</h1>
					<div class="row">
						<div class="col-md-6">
                            <!--<h2 class="title">Work Experience</h2>-->
							<!-- begin #timeline -->
                            <h2 class="title">Jobs</h2>
							<div id="timeline">
								<div class="timeline-item" ng-repeat="job in jobs">
									<div class="briefcase fa fa-briefcase"></div>
									<div class="job">
										<h2 class="job-title">{{job.title}} <span><br />{{job.company}}</span></h2>
										<h3 class="year">{{job.date}}</h3>
										<div class="job-detail">{{job.description}}</div>
									</div>
								</div>
							</div>
							<!-- end #timeline -->
						</div>
						<div class="col-md-5">
							<!-- begin #skills -->
                            <div id="skills">
                                <h2 class="title">Highlights</h2>
                                <div class="highlight-reel">
                                    <div class="highlight-reel-item">
                                        <iframe
                                            src="https://player.vimeo.com/video/112881436"
                                            width="250"
                                            height="140"
                                            frameborder="0"
                                            style="border: solid lightgray 1px"
                                            webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                        </iframe>
                                        <h3 class="job-title"><span>VIS 2014 Presentation in Paris, France</span></h3>
                                    </div>
                                    <div class="highlight-reel-item">
                                        <a href="downloadables/AlexLong-Detecting_Malware_Samples_with_Similar_Image_Sets.pdf">
                                            <img style="width: 200px; border: solid black 1px; margin-bottom: 10px" src="img/work/paper_thumbnail.jpg" />
                                        </a>
                                        <h3 class="job-title"><span>Research Paper on Analyzing Images in Malware</span></h3>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="skill-item">-->
                            <!--<h3 class="skill-title">HTML / CSS</h3>-->
                            <!--<div class="skill-bar-bg" data-percent="80">-->
                            <!--<div class="skill-bar"></div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="skill-item">-->
                            <!--<h3 class="skill-title">jQuery</h3>-->
                            <!--<div class="skill-bar-bg" data-percent="70">-->
                            <!--<div class="skill-bar"></div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="skill-item">-->
                            <!--<h3 class="skill-title">WordPress</h3>-->
                            <!--<div class="skill-bar-bg" data-percent="65">-->
                            <!--<div class="skill-bar"></div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
							<!-- end #skills -->

							<!-- begin #testimonials -->
                            <!--<div id="testimonials">-->
                            <!--<h2 class="title">Random Stuff</h2>-->
                            <!--</div>-->
							<!-- end #testimonials -->
						</div>
					</div>
				</div>
			</div>
			<!-- end #resume -->

			<!-- begin #portfolio -->
			<div id="portfolio" >
                <a href="#portfolio">
                    <div id="top-portfolio" class="expand add-expand">
                        <h1>Technologies</h1>
                        <div class="detail">See What I'm Good At</div>
                        <div class="icon icon-left fa fa-cogs"></div>
                    </div>
                </a>
				<div class="main-content">
					<a href="#" class="close-icon expand"></a>
					<h1 class="title">Things I'm Good At</h1>
                    <div id="technology_tags">
                        <div class="technology-tag" ng-repeat="tag in technology_tags" style="float: left; margin-top: 5px">{{tag.text}}</div>
                    </div>
                    <div ng-repeat="technology in technologies" class="section-paragraph">
                        <div ng-style="$even && {'float': 'left'} || {'float': 'right'}">
                            <div ng-style="$even && {'float': 'left'} || {'float': 'right'}">
                                <img ng-src="img/technologies/{{technology.icon_filename}}" alt="item 1" style="height: 200px"/>
                            </div>
                            <div ng-style="$even && {'float': 'left'} || {'float': 'right'}" style="padding: 10px; padding-top: 20px; width: 60%">
                                <h2 class="job-title"><span>{{technology.title}}</span></h2>
                                <div>{{technology.body}}</div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
			<!-- end #portfolio -->

			<!-- begin #portfolio -->
			<div id="otherstuff" >
                <a href="#otherstuff">
                    <div id="top-otherstuff" class="expand add-expand">
                        <h1>Other Stuff</h1>
                        <div class="detail">Let's Get Personal</div>
                        <div class="icon icon-left fa fa-music"></div>
                    </div>
                </a>
				<div class="main-content">
					<a href="#" class="close-icon expand"></a>
					<h1 class="title">Let's Get Personal</h1>
                    <div ng-repeat="stuff in otherstuff" class="section-paragraph">
                        <div ng-style="$even && {'float': 'left'} || {'float': 'right'}">
                            <div ng-style="$even && {'float': 'left'} || {'float': 'right'}">
                                <img ng-if="stuff.youtube_id==''" ng-src="img/otherstuff/{{stuff.pic_path}}" alt="item 1" style="height: 200px"/>
                                <iframe ng-if="stuff.youtube_id!=''" height='200'  ng-src={{getIframeSrc(stuff.youtube_id)}} frameborder='0' allowfullscreen></iframe>
                            </div>
                            <div ng-style="$even && {'float': 'left'} || {'float': 'right'}" style="padding: 10px; padding-top: 20px; width: 60%">
                                <h2 class="job-title"><span>{{stuff.title}}</span></h2>
                                <div>{{stuff.text}}</div>
                            </div>
                        </div>
                    </div>
                    <!--<div style="float: left; padding-top: 20px">
                        <div class="technology-item" ng-repeat="tag in technology_tags" style="float: left; margin-top: 5px">{{tag.text}}</div>
                    </div>-->
				</div>
			</div>
			<!-- end #portfolio -->

			<!-- begin #activity -->
			<div id="activity">
                <a href="#activity">
                    <div id="top-activity" class="expand add-expand">
                        <h1>Activity</h1>
                        <div class="detail">What's Been Going On</div>
                        <div class="icon icon-left fa fa-comment"></div>
                    </div>
                </a>
				<div class="main-content">
					<a href="#" class="close-icon expand"></a>
					<h1 class="title">What's Been Going On</h1>
					<div class="row">
						<div class="col-md-12">
                            <div id="latest_tweet_outer_div">
                                <h2 class="title">Twitter</h2>
                                <a class="twitter-timeline" href="https://twitter.com/AlexMasonLong" data-widget-id="633856263047237632" width='1000px'>Tweets by @AlexMasonLong</a>
                                <script>
                                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                                </script>
                            </div>
                            <div id="latest_github_activity_outer_div">
                                <h2 class="title">Github</h2>
                                <div id="github-feed"></div>
                            </div>
						</div>
					</div>
				</div>
			</div>
			<!-- end #activity -->

		</div>
		<!-- end #features -->

	</div>
	<!-- end #main-container -->

	<!-- JavaScript Files -->
    <script>
        var app = angular.module('app', []);
        app.controller('mainController', function($scope, $http) {

            $scope.getIframeSrc = function(src) {
                return "https://www.youtube.com/embed/" + src;
            };

            $http.get("content/resume.json")
            .success(function (response) {
                $scope.jobs = response;
            });

            $http.get("content/technologies.json")
            .success(function (response) {
                $scope.technologies = response;
            });

            $http.get("content/technology_tags.json")
            .success(function (response) {
                $scope.technology_tags = response;
            });

            $http.get("content/otherstuff.json")
            .success(function (response) {
                $scope.otherstuff = response;
            });
        });

        app.config(function($sceDelegateProvider) {
          $sceDelegateProvider.resourceUrlWhitelist([
            'self',
            'https://www.youtube.com/**'
          ]);
        });

        GitHubActivity.feed({
            username: "alexmlong",
            selector: "#github-feed",
            limit: 5 // optional
        });
    </script>
	<script src="js/jquery.min.js"></script>
	<script src="js/vendor/fastclick.js"></script> 
	<script src="js/vendor/jquery.validate.min.js"></script>
	<script src="js/vendor/jquery.typer.js"></script>
	<script src="js/vendor/jquery.shuffle.min.js"></script>
	<script src="js/vendor/morphext.min.js"></script>
	<script src="js/smoothScrolls.js"></script>
	<script src="js/prefixfree.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
